.sidebar {
  width: 270px;

  height: 100vh;

  border-right: 1px solid #ececec;

  background: white;

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  padding: 24px;
}

.logo {
  display: flex;

  align-items: center;

  gap: 16px;

  margin-bottom: 40px;
}

.logo-circle {
  width: 54px;

  height: 54px;

  border-radius: 50%;

  border: 1px solid #ddd;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 24px;
}

.logo h2 {
  font-size: 20px;

  color: #111;
}

.logo span {
  color: #888;

  font-size: 14px;
}

.new-chat-btn {
  width: 100%;

  height: 48px;

  border: none;

  border-radius: 14px;

  background: black;

  color: white;

  cursor: pointer;

  margin-bottom: 32px;

  font-size: 15px;
}

.new-chat-btn:hover {
  opacity: 0.9;
}

.menu-title {
  color: #999;

  margin-bottom: 14px;

  font-size: 13px;
}

.menu {
  display: flex;

  flex-direction: column;

  gap: 10px;
}

.menu-item {
  height: 46px;

  width: 100%;

  border: none;

  background: transparent;

  text-align: left;

  padding-left: 14px;

  border-radius: 12px;

  cursor: pointer;

  font-size: 15px;
}

.menu-item:hover {
  background: #f3f3f3;
}

.bottom-menu {
  border-top: 1px solid #ececec;

  padding-top: 20px;
}
